[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "==0.22.2"
pandas = "*"
numpy = "*"
tabulate = "==0.8.7"
matplotlib = "*"
seaborn = "*"
Pillow = "*"

[dev-packages]

[requires]
python_version = "3.8"
